body,html,*{
	box-sizing: border-box;
}
#d1
{
	height: 150px;
	background-color: #FC21C1;
	margin: 20px;
	padding: 10px;
}
#d2
{
	height: 300px;
	margin: 20px;
}
#d2-left,#d2-right
{
    float: left;
    height: 100%;
  
}
#d2-left
{
	width: 60%;
	background-color: #FB0F7E;
	margin-right: 18px;
}
#d2-right
{
	width: 38.5%;
	background-color: #C41D68;
}
#d3
{
	height: 150px;
	background-color: #921969;
	margin: 20px;
	padding: 10px;
}